bin/
obj/
.idea/
*.zip
*.tar.gz
*.DotSettings.user
.DS_Store
cmake-build*
publish_test
publish/
Dependencies
SS14.Launcher/FodyWeavers.xsd

!PublishFiles/Space Station 14 Launcher.app/Contents/Resources/bin/
__pycache__
